.App {
  font-family: sans-serif;
  text-align: center;
}

h1 {
  text-align: center;
  color: #2c3e50;
  font-family: 'Arial', sans-serif;
  font-size: 2.5rem;
  margin-top: 20px;
  margin-bottom: 40px;
  letter-spacing: 2px;
}


.radio-container {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 30px;
}


input[type="radio"] {
  accent-color: #3498db;
  cursor: pointer;
}


label {
  font-family: 'Arial', sans-serif;
  font-size: 1.2rem;
  color: #34495e;
  cursor: pointer;
}


label:hover {
  color: #3498db;
  text-decoration: underline;
}

.search-container {
  text-align: center;
  margin-bottom: 20px;
}


.search-container input[type="text"] {
  padding: 12px 20px;
  font-size: 1.1rem;
  border: 2px solid #ddd;
  border-radius: 5px;
  width: 50%;
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}


.search-container input[type="text"]:focus {
  outline: none;
  border-color: #3498db; 
  box-shadow: 0 0 8px rgba(52, 152, 219, 0.3);


@media (max-width: 768px) {
  .search-container input[type="text"] {
    width: 80%; 
  }
}